body {
  background-color: rgba(128, 128, 128, 0.226);
  font-family: 'Space Grotesk', sans-serif;
}

input {
  height: 100%;
  padding: 10px;
}

button {
  font-size: x-large;
  color: white;
  margin-left: 10px;
  background: #2260bf;
  transition: 250ms;
  border: none;
}

button:hover {
  cursor: pointer;
  transform: scale(1.1);
  box-shadow: 4px 8px 4px 0px rgb(0, 183, 255);
}

.gallery {
  display: flex;
  flex-wrap: wrap;
  padding: 20px;
  gap: 10px;
  margin: 0 auto;
}

.thumbnail {
  width: 100%;
  height: 400px;
  max-height: 400px;
  max-width: 700px;
}

.photo-card {
  flex-basis: calc((100% - 30px) / 4);
  display: flex;
  flex-direction: column;
  border: none;
  padding: 5px;
  background: linear-gradient(skyblue 90%, white);
  box-shadow: 4px 8px 12px 0px rgba(66, 68, 90, 1);
  transition: 250ms;
}

.photo-card:hover {
  transform: scale(1.01);
}

.info {
  background-color: #a0b0b8;
  padding: 10px;

  display: flex;
  justify-content: space-evenly;
  gap: 10px;
  border: none;
  margin-top: 5px;
}

.info-item {
  border-right: 1px solid grey;
  padding-right: 30px;
}

.hidden {
  display: none;
}

.search-form {
  background: #2260bf50;
  padding: 10px;
  border: none;
  display: flex;
  justify-content: center;
  position: relative;
}

.search-form::after {
  left: 40px;
  position: absolute;
  content: 'GoIT photo finder!';

  font-size: 40px;
  background: -webkit-linear-gradient(rgb(119, 115, 209), rgb(143, 0, 0));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  transition: 500ms;
}

.load-more {
  margin: 20px;
  height: 5vh;
  width: 10vh;
  background: #2260bf;
  margin: 0 47%;
  margin-bottom: 30px;
  transition: 250ms;
  box-shadow: 4px 8px 12px 0px rgba(66, 68, 90, 1);
}

.load-more:hover {
  transform: scale(1.1);
  cursor: pointer;
  box-shadow: 4px 8px 4px 0px rgb(0, 183, 255);
}

.fade-in-image {
  animation: fadeIn 1s;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
    scale: 0.8;
  }
  100% {
    opacity: 1;
    scale: 1;
  }
}
